body {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.wrapper {
    margin-top: 2.66rem;
}

.main-wrapper {
    display: flex;
    justify-content: space-between;
    /*align-self: center;*/
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    /*height: 100vh;*/
    /*max-width: 66%;*/
    /*margin: 0 auto;*/
    /*margin-top: 2.66rem;*/
    padding-top: 5rem;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    /*filter: blur(8px);*/
    /*  -webkit-filter: blur(8px);*/
    /*margin-left: 10rem;*/
    /*padding-right: 10rem;*/
}

.title {
    color: whitesmoke;
    font-family: RuthLigos;
    font-size: 3rem;
    text-align: center;
    padding-bottom: 2rem;
}

.main-wrapper .left-wrapper, .main-wrapper .center-wrapper, .main-wrapper .right-wrapper {
    width: 33%;
    padding-bottom: 5rem;
}

.title {
    /*color: red;*/
}

.main-wrapper .left-wrapper {
    padding-right: 3rem;
}

.main-wrapper .first {
    padding-top: 2rem;
}

.main-wrapper .left-wrapper ul li {
    padding-bottom: 2rem;
    text-align: center;
    color:palegoldenrod;
    font-size: 1.33rem;
    line-height: 1.66rem;
}

.main-wrapper .center-wrapper p {
    text-align: center;
    color:palegoldenrod;
    font-size: 1.33rem;
    line-height: 1.66rem;
}

.main-wrapper .right-wrapper {
    /*padding-left: 2rem;*/
}

.main-wrapper .right-wrapper .first {
    padding-bottom: 1rem;
}

.main-wrapper .right-wrapper p {
    text-align: center;
    color:palegoldenrod;
    font-size: 1.33rem;
    line-height: 1.66rem;
}

