.main-wrapper {
    /*display: flex;*/
    /*align-items: center;*/
    /*flex-direction: column;*/
    width: 100%;
    /*height: 70vh;*/
    background-color: whitesmoke;
}

.main-wrapper .title {
    display: flex;
    justify-content: center;
    padding-top: 6rem;
}

.main-wrapper .title h2 {
    font-family: RuthLigos;
    font-size: 5rem;
}

.main-wrapper .tab-nav{
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

.main-wrapper .tab-nav .tab-link {
    margin-right: 2rem;
    margin-left: 2rem;
    background-color: whitesmoke;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.20rem;
    font-weight: 600;
    cursor: pointer;
}

.main-wrapper .tab-nav .tab-link:hover{
    /*background-color: dimgrey;*/
    background-color: #31393C;
    border-radius: 30px;
    color:white;
}


.main-wrapper .tab-content {
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main-wrapper .tab-content .card {
    background-color: #0C0910;
    /*background-color: #31393C;*/
    margin-right: 1rem;
    margin-left: 1rem;
    height: 600px;
    margin-bottom: 10rem;
    border-radius: 0 0 25px 25px;
    /*transition: transform 0.3s, opacity 0.3s;*/
    /*transform: translateY(2rem);*/

}

.main-wrapper .tab-content .card .card-img {
    width: 25rem;
    height: 20rem;
    border-radius: 10px 10px 0 40px;
    margin-top: -1rem;
}


/*@keyframes fadeIn {*/
/*    from {*/
/*        opacity: 0;*/
/*    }*/
/*    to {*/
/*        opacity: 1;*/
/*    }*/
/*}*/