{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/style_home.css' %}">
{% endblock %}

{% block title %} Hello World {% endblock %}

{% block content %}
    <h2>Street Food Restaurant</h2>
    <div class="txt">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores expedita inventore ipsa ipsum. Alias atque
            debitis explicabo harum minima odio sed vero! Dolores laboriosam molestias perferendis qui sit. Culpa,
            reiciendis.</p>
    </div>
{#    <div class="banner-area">#}
{#        <div class="bg-box">#}
{#            <header>#}
{#                <div class="header-wrapper">#}
{##}
{#                </div>#}
{#            </header>#}
{#        </div>#}
{#    </div>#}
{% endblock %}
