{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/style_home.css' %}">
{% endblock %}

{% block title %} Street. | Homepage {% endblock %}

{% block content %}
    <div class="wrapper">
        <h2 class="animate__animated animate__slideInLeft hero animate__slow">Street Food Restaurant</h2>
        <div class="txt">
            <p class="animate__animated animate__zoomIn animate__delay-2s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores expedita inventore ipsa ipsum. Alias atque
                debitis explicabo harum minima odio sed vero! Dolores laboriosam molestias perferendis qui sit. Culpa,
                reiciendis.</p>
        </div>
    </div>
{% endblock %}
